typing-inspect==0.8.0
typing_extensions==4.5.0
bitsandbytes
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/trl
tiktoken
jsonformer
tokenizers>=0.13.3 
optimum
auto-gptq
openpyxl==3.1.2